<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Paul Laros">
		
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Blog of OGNR - On The Ground News Report" %></title>
    
    <%= stylesheet_link_tag "all", "bootstrap-social", "bootstrap-theme.min", "bootstrap.min", "font-awesome.min", "main" %>
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C400italic%2C700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <%= javascript_include_tag  "all" %>
    <!-- HTML5 shiv for IE8 support -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->		
  </head>
  
  <body class="<%= page_classes %>">
		<div class="row">
	    <header class="header">
	      <hgroup class="text-center">
					<div class="page-header">
						<%= link_to image_tag("ognrlogo.png", width: "200px"), "/" %>
					</div>				
	      </hgroup>
	    </header> <!-- /header -->
		</div>
		<div class="row">
	    <div id="primary" class="col-sm-9">
	      <div class="content">
							<%= yield %>
	      </div> <!-- // content -->
			</div> <!-- /#primary -->
			
	    <aside class="col-sm-3">
	      <section class="post">
	        <header class="entry-header">
	          <h4 class="entry-title">Recent Articles</h4>
	        </header>
				
	        <div class="entry-description">
			      <ul>
			        <% blog.articles[0...10].each do |article| %>
			          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
			        <% end %>
			      </ul>
	        </div>
	      </section> <!-- /.post -->
				
	      <h2>Tags</h2>
	      <ol>
	        <% blog.tags.each do |tag, articles| %>
	          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
	        <% end %>
	      </ol>

	      <h2>By Year</h2>
	      <ol>
	        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
	          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
	        <% end %>
	      </ol>
			</aside>
		</div> <!-- // row -->
		<div class="row">
			<%= partial "footer" %>		
		</div>
						
	</body>
</html>